<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
  <%= render 'layouts/header' %>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= bootstrap_class_for(key) %> flash-message">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  </body>

  <!-- footer -->
  <footer class="footer-bg footer-p" >
    <div class="overly"><img src="<%= root_url %>img/an-bg/footer-bg.png" alt="rest"></div>
    <div class="footer-top pb-30" style="background-color: #ECF1FA;">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="flog mb-35">
                <a href="#"><img src="<%= root_url %>img/logo/logo-new.png" alt="logo"></a>
              </div>
              <div class="footer-text mb-20">
                <p>Find the right doctor, choose your preferred time, and confirm your appointment in seconds. Your path to better care starts with effortless booking.</p>
              </div>
              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </div>
            </div>
          </div>


          <div class="col-xl-2 col-lg-2 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Our Links</h5>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Partners</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> About Us</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Career</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Reviews</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Terms & Conditions</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Help</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Other Links</h5>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Home</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> About Us</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Services</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Project</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Our Team</a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i> Latest Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Contact Us</h5>
              </div>
              <div class="footer-link">
                <div class="f-contact">
                  <ul>
                    <li>
                      <i class="icon dripicons-phone"></i>
                      <span>1800-121-3637<br>+91 555 234-8765</span>
                    </li>
                    <li>
                      <i class="icon dripicons-mail"></i>
                      <span><a href="mailto:info@example.com">info@example.com</a><br><a href="mailto:sale@example.com">sale@example.com</a></span>
                    </li>
                    <li>
                      <i class="fal fa-map-marker-alt"></i>
                      <span>380 St Kilda Road, Melbourne<br>VIC 3004, Australia</span>
                    </li>
                  </ul>

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="copyright-wrap">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text text-center">
              <p>&copy; <%= Time.now.year %> MedSlot All design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-end -->
  <!-- JS here -->
  <!-- JS here -->
  <script src="<%= root_url %>js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="<%= root_url %>js/vendor/jquery-1.12.4.min.js"></script>
  <script src="<%= root_url %>js/popper.min.js"></script>
  <script src="<%= root_url %>js/bootstrap.min.js"></script>
  <script src="<%= root_url %>js/one-page-nav-min.js"></script>
  <script src="<%= root_url %>js/jquery.meanmenu.min.js"></script>
  <script src="<%= root_url %>js/slick.min.js"></script>
  <script src="<%= root_url %>js/ajax-form.js"></script>
  <script src="<%= root_url %>js/paroller.js"></script>
  <script src="<%= root_url %>js/wow.min.js"></script>
  <script src="<%= root_url %>js/js_isotope.pkgd.min.js"></script>
  <script src="<%= root_url %>js/imagesloaded.min.js"></script>
  <script src="<%= root_url %>js/parallax.min.js"></script>
  <script src="<%= root_url %>js/jquery.waypoints.min.js"></script>
  <script src="<%= root_url %>js/jquery.counterup.min.js"></script>
  <script src="<%= root_url %>js/jquery.scrollUp.min.js"></script>
  <script src="<%= root_url %>js/parallax-scroll.js"></script>
  <script src="<%= root_url %>js/jquery.magnific-popup.min.js"></script>
  <script src="<%= root_url %>js/element-in-view.js"></script>
  <script src="<%= root_url %>js/main.js"></script>
</html>
